body{
    background: #5bc0de;
    padding-top: 50px;
}

.about{
    display: block;
    background: url("../img/about.png");
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    height: 100px;
}

.red-text{
    color: #c12e2a;
}

.green-text{
    color: #47a447;
}